<div
  class="flex h-[calc(100vh-4rem)] flex-col items-center overflow-hidden"
  id="contents_div"
>
  <div class="mb-5 mt-5 flex w-3/4 justify-start text-2xl"></div>
  <div class="flex h-1/2 w-5/6 items-start">
    <div class="rounded-box h-full w-1/2 shadow-xl">
      <div class="h-5/6 w-full overflow-x-auto">
        <table class="table-zebra table min-h-full min-w-full">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Video</th>
              <th>Channel</th>
            </tr>
          </thead>
          <tbody id="table_body">
            {% for vid in unique_vids %}
              <tr>
                <th>{{ loop.index + start_index }}</th>
                <th>{{ vid[0] }}</th>
                <th>{{ vid[1] }}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="join flex h-1/6 items-center justify-center">
        <button
          id="prev_button"
          class="join-item btn"
          disabled="disabled"
          hx-get="{{ url_for('prev_table_page') }}"
          hx-target="#table_body"
          hx-swap="outerHTML"
          hx-on::after-request="decrementPage()"
        >
          «
        </button>
        <button id="page_num" class="join-item btn">
          Page 1 of {{ num_of_pages }}
        </button>
        <button
          id="next_button"
          class="join-item btn"
          hx-get="{{ url_for('next_table_page') }}"
          hx-target="#table_body"
          hx-swap="outerHTML"
          hx-on::after-request="incrementPage()"
        >
          »
        </button>
      </div>
    </div>
    <div class="card ml-10 h-full w-1/2 shadow-xl">
      <div class="stats shadow">
        <div class="stat overflow-hidden">
          <div class="stat-title">Total Time Watched</div>
          <div class="stat-value text-xl">
            {{ total_days }} Days {{ total_hours }} Hours {{ total_mins }} Mins
          </div>
        </div>
      </div>
      <div class="h-3/4 overflow-hidden">{{ heatmap | safe }}</div>
      <div class="card-body">
        <h2 class="card-title">Watch Times</h2>
      </div>
    </div>
  </div>
  <div class="mt-10 flex h-2/5 w-5/6 items-start">
    <div class="card h-4/5 w-1/3 shadow-xl">
      <div class="stats shadow">
        <div class="stat overflow-hidden">
          <div class="stat-title text-sm">Total Videos Watched</div>
          <div class="stat-value text-base">{{ total_vids }}</div>
        </div>
      </div>
      <div class="h-3/5 overflow-hidden">
        {{ time_series_line_chart | safe }}
      </div>
      <div class="card-body">
        <h2 class="card-title">Time Series Line Chart</h2>
      </div>
    </div>
    <div class="card ml-10 h-4/5 w-1/3 shadow-xl">
      <div class="stats shadow">
        <div class="stat overflow-hidden">
          <div class="stat-title text-sm">Total Channels Watched</div>
          <div class="stat-value text-base">{{ total_unique_channels }}</div>
        </div>
      </div>
      <div class="h-3/5 overflow-hidden">{{ top_channels_chart | safe }}</div>
      <div class="card-body">
        <h2 class="card-title">Top 10 Channels</h2>
      </div>
    </div>
    <div class="card ml-10 h-4/5 w-1/3 shadow-xl">
      <div class="h-full overflow-hidden">{{ top_videos_chart | safe }}</div>
      <div class="card-body">
        <h2 class="card-title">Top 10 Videos</h2>
      </div>
    </div>
  </div>
</div>
<script>
  var currentPage = 1;

  function incrementPage() {
    if (currentPage + 1 <= "{{num_of_pages}}") {
      currentPage++;
      updatePageButton();

      if (currentPage == "{{num_of_pages}}") {
        document.getElementById("next_button").disabled = true;
        document.getElementById("prev_button").disabled = false;
      } else if (currentPage > 1) {
        document.getElementById("prev_button").disabled = false;
      }
    }
  }

  function decrementPage() {
    if (currentPage - 1 > 0) {
      currentPage--;
      updatePageButton();
      if (currentPage == 1) {
        document.getElementById("prev_button").disabled = true;
        document.getElementById("next_button").disabled = false;
      } else if (currentPage < "{{num_of_pages}}") {
        document.getElementById("next_button").disabled = false;
      }
    }
  }

  function updatePageButton() {
    document.getElementById("page_num").innerText =
      "Page " + currentPage + " of {{num_of_pages}}";
  }
</script>
