<div
  class="flex h-[calc(100vh-4rem)] flex-col items-center overflow-hidden"
  id="contents_div"
>
  <div class="mb-5 mt-5 flex w-3/4 justify-start text-2xl">Date Range</div>
  <div class="flex h-1/2 w-5/6 items-start">
    <div class="rounded-box h-full w-1/2 overflow-x-auto shadow-xl">
      <table class="table-zebra table min-h-full min-w-full">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>Video</th>
            <th>Channel</th>
          </tr>
        </thead>
        <tbody>
          {% for vid in unique_vids %}
            <tr>
              <th>{{ loop.index }}</th>
              <th>{{ vid[0] }}</th>
              <th>{{ vid[1] }}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card ml-10 h-full w-1/2 shadow-xl">
      <div class="stats shadow">
        <div class="stat overflow-hidden">
          <div class="stat-title">Total Videos Watched</div>
          <div class="stat-value">{{ total_vids }}</div>
        </div>
      </div>
      <div class="h-3/4 overflow-hidden">
        {{ time_series_line_chart | safe }}
      </div>
      <div class="card-body">
        <h2 class="card-title">Time Series Line Chart</h2>
      </div>
    </div>
  </div>
  <div class="mt-10 flex h-2/5 w-5/6 items-start">
    <div class="card h-4/5 w-1/3 shadow-xl">
      <div class="stats shadow">
        <div class="stat overflow-hidden">
          <div class="stat-title text-sm">Total Time Watched</div>
          <div class="stat-value text-base">
            {{ total_days }} Days {{ total_hours }} Hours {{ total_mins }} Mins
          </div>
        </div>
      </div>
      <div class="h-3/5 overflow-hidden">{{ heatmap | safe }}</div>
      <div class="card-body">
        <h2 class="card-title">Watch Times</h2>
      </div>
    </div>
    <div class="card ml-10 h-4/5 w-1/3 shadow-xl">
      <div class="stats shadow">
        <div class="stat overflow-hidden">
          <div class="stat-title text-sm">Total Channels Watched</div>
          <div class="stat-value text-base">{{ total_unique_channels }}</div>
        </div>
      </div>
      <div class="h-3/5 overflow-hidden">{{ top_channels_chart | safe }}</div>
      <div class="card-body">
        <h2 class="card-title">Top 10 Channels</h2>
      </div>
    </div>
    <div class="card ml-10 h-4/5 w-1/3 shadow-xl">
      <div class="h-full overflow-hidden">{{ top_videos_chart | safe }}</div>
      <div class="card-body">
        <h2 class="card-title">Top 10 Videos</h2>
      </div>
    </div>
  </div>
</div>
