{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <div
    class="flex h-[calc(100vh-4rem)] flex-col items-center justify-center overflow-hidden"
    id="contents_div"
  >
    <article class="prose mb-10 text-center text-5xl">
      Select Your Youtube Watch History JSON File
    </article>
    <form
      id="file_form"
      name="file_form"
      hx-post="{{ url_for('load_data') }}"
      hx-target="#steps"
      hx-trigger="submit"
      hx-swap="outerHTML"
      hx-encoding="multipart/form-data"
      hx-on::before-request="loading_spinner.classList.remove('hidden'), step_1.classList.add('step-primary')"
    >
      <input
        type="file"
        id="file_form"
        name="file_input"
        class="file-input file-input-bordered w-full max-w-xs"
        accept=".json"
      />
      <button type="submit" class="btn btn-success">Load Data</button>
    </form>
    <p class="prose mt-5 text-center" hx-boost="true">
      If you don't have your watch history JSON file, you can
      <a href="/instructions">click here</a> to learn how to download it.
    </p>

    <span
      id="loading_spinner"
      class="loading loading-spinner loading-lg mt-10 hidden"
    ></span>

    <ul class="steps mt-12 text-xl" id="steps">
      <li class="step mx-10" id="step_1">Verifying & Extracting</li>
      <li class="step " id="step_2">Requesting Video Data</li>
      <li class="step " id="step_3">Data Loaded</li>
    </ul>
  </div>
{% endblock %}
